<div class="row">
    <div class="col-lg-12 margin-tb">
        <div class="pull-left">
            <h1>Presentation</h1>
        </div>
    </div>
</div>

<div>Welcome to the Bebras Review tool.</div>

<h2>Guidelines on how to review tasks:</h2>
<p>
<h3>Login to Review system:</h3>
<p>
To review tasks, you need an SVN-account. If you still need to get one, please ask your national Bebras organizer to request one for you at mail <At> bebras.org.
</p>
<p>
Go to <a href="https://review.bebras.org/">https://review.bebras.org/</a> and log in with your SVN-credentials.
</p>
<p>
Go to Profile, and enter or change the number of tasks you would like to review. 
</p>
<h3>Task review process:</h3>
<p>
You can choose a task to review in two ways:
</p>
<ol>
<li> You can review a task assigned to you. We will update the review-assignments twice a week.</li>
<li>You may choose any other task and review it (please don't review tasks from your own country or tasks that you've been involved with).</li>
<li>At times, a task may have multiple variants. You are encouraged to additionally review tasks that are variants of the tasks assigned to you.</li>
</ol>
<p>
Once you've chosen a task, please thoroughly read through it review it in the following three-step process.
</p>
<p>
A. Rate the task. This must be done for two aspects:
</p>
<ol>
<li>Its "as-of-now" state. (1 star is the worst rating, 6 stars is the best rating)</li>
<li>Its "potential" state. (1 star is the worst rating, 6 stars is the best rating)</li>
</ol>
<p>
B. Besides that please specifically evaluate the "It's Informatics" section and the proposed age difficulties.
</p>
<p>
C. Finally please write a text review going in-depth for the aspects you have noticed. The following template might help you to go through important aspects of tasks. Please keep in mind that some thorough reviews are worth more than many quick & short reviews.
</p>
<ol>
<li>[AGE] Is the age/difficulty level specified? Is it appropriate for the task and question?</li>
<li>[IDEA] Is the idea original and attractive? Does it require some computational thinking skill to be understood and solved?</li>
<li>[TEXT] Is the text of the task clear and understandable by students of the appropriate level, without CS pre-knowledge? Are words and expressions used consistently in the text and question? </li>
<li>[EXPL] Is the “explanation” section available and complete? Is it understandable by students of the appropriate level? Is there a clear reason why the correct answer is correct? Is there a clear reason why the wrong answers are wrong?</li>
<li>[IT’S INF] Is the “It’s informatics” section available? Is it understandable by students of the appropriate level? Is it well connected to the task?</li>
<li>[GRAPH] Are the figures clear and appealing? Are they suitable for the age group (not too many beavers for older students!). Are they CC licenced and can be re-used and modified? Are they available in SVG format (i.e., as vector graphics)?</li>
<li>[AUTH] Are the name(s) and mail address(es) of the author(s) available?</li>
<li>[NAME] Do the names of the task folder and file(s) comply with the prescribed format?</li>
<li>[OTHER] Is there anything else that can be useful for the author or the community?</li>
</ol>

<h3>What makes a good bebras task:</h3>
<p>
Criteria for the quality of a task are available in the "Pre-Workshop Review Process" document (SVN/Documentation/General/taskPreparation/pre-workshop_review_process.pdf) and last year's presentation "What is a good Bebras task" (SVN/2019/Documents/Pre-Workshop-Workshop/What is a good bebras taks[ - Notes].pdf").
</p>

