<div id="desiredMissingModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;"><div class="modal-dialog"><div class="modal-content">
    <div class="modal-body">
        <p><b>You haven't yet indicated whether you were voluntary to review tasks.</b></p>
        <p>Please head over to <a href="#/Profile">your Profile</a> to select your preferences.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="goToProfile()">Modify my profile</button>
    </div>
</div></div></div>



<h1>Welcome to the Bebras Review tool.</h1>

<h2>Guidelines on how to review tasks:</h2>
<p>
<h3>Login to Review system:</h3>
<p>
To review tasks, you need an SVN-account. If you still need to get one, please ask your national Bebras organizer to request one for you at mail <At> bebras.org.
</p>
<p>
Go to <a href="https://review.bebras.org/">https://review.bebras.org/</a> and log in with your SVN-credentials.
</p>
<p>
Go to Profile, and enter or change the number of tasks you would like to review. 
</p>
<h3>Task review process:</h3>
<p>Thank you for volunteering for reviewing tasks.</p>
<p>You may simply review <b>the assigned tasks</b> (the assignments are updated twice a week).  You may also review <b>any other tasks which are not from your own country</b>.  Some tasks may have multiple variants; you are encouraged to additionally review variants of the tasks you already reviewed.</p>
<p>Reviewing any task involves the following steps:</p>
<p>A. Writing an in-depth review and constructive feedback on the task. Please pay special attention to the task body, question &amp; answer alternatives / interactivity description.  The following template might help you.</p>
<ol>
<li>[IDEA] Is the idea original and attractive? Does solving the task require some computational thinking skills?  Are the question &amp; answer alternatives / interactive description well designed? What might you have done differently to improve the task?</li>
<li>[TEXT] Is the text of the whole task clear and understandable by students without CS pre-knowledge? Are words and expressions used consistently in the text and question?</li>
<li>[EXPL] Is the “explanation” section available and complete? Is there a clear reason why the correct answer is correct as well as why the wrong answers are wrong?</li>
<li>[IT’S INF] Is the “It’s informatics” section available? Is it understandable by students of the appropriate level? Is it well connected to the task?</li>
<li>[GRAPH] Are the figures clear? Are they CC licenced? Are they available in SVG format (i.e., as vector graphics)?</li>
<li>[META] Are the metadata of the task available? (Such as: age, difficulty, computational thinking skills, author name(s) and email address(es)...etc.) Do the names of the task folder and file(s) comply with the prescribed format?</li>
<li>[OTHER] Is there anything else that can be useful for the author or the community?</li>
</ol>
<p>B. Rating the tasks based on the review you have given in two aspects:</p>
<ol>
<li>Its "as-of-now" state. (1 star is the worst rating, 6 stars is the best rating)</li>
<li>Its "potential" state. (1 star is the worst rating, 6 stars is the best rating)</li>
</ol>
<h3>What makes a good bebras task:</h3>
<p>
Criteria for the quality of a task are available in the "Pre-Workshop Review Process" document (SVN/Documentation/General/taskPreparation/pre-workshop_review_process.pdf) and last year's presentation "What is a good Bebras task" (SVN/2019/Documents/Pre-Workshop-Workshop/What is a good bebras taks[ - Notes].pdf").
</p>

