<table class="table table-bordered pagin-table">
  <thead>
    <tr>
      <th ng-click="myOrderBy=((myOrderBy=='folderName')?'-folderName':'folderName')">Folder
      <i class="fa fa-fw fa-sort" ng-if="myOrderBy!='folderName'&&myOrderBy!='-folderName'"></i>
      <i class="fa fa-fw fa-sort-asc" ng-if="myOrderBy=='folderName'"></i>
      <i class="fa fa-fw fa-sort-desc" ng-if="myOrderBy=='-folderName'"></i></th>

      <th ng-click="myOrderBy=((myOrderBy=='year')?'-year':'year')">Year
      <i class="fa fa-fw fa-sort" ng-if="myOrderBy!='year'&&myOrderBy!='-year'"></i>
      <i class="fa fa-fw fa-sort-asc" ng-if="myOrderBy=='year'"></i>
      <i class="fa fa-fw fa-sort-desc" ng-if="myOrderBy=='-year'"></i></th>

      <th ng-click="myOrderBy=((myOrderBy=='country')?'-country':'country')">Country
      <i class="fa fa-fw fa-sort" ng-if="myOrderBy!='country'&&myOrderBy!='-country'"></i>
      <i class="fa fa-fw fa-sort-asc" ng-if="myOrderBy=='country'"></i>
      <i class="fa fa-fw fa-sort-desc" ng-if="myOrderBy=='-country'"></i></th>
      
      <th> Owner </th>

      <th ng-click="myOrderBy=((myOrderBy=='repositoryDate')?'-repositoryDate':'repositoryDate')">Created
      <i class="fa fa-fw fa-sort" ng-if="myOrderBy!='repositoryDate'&&myOrderBy!='-repositoryDate'"></i>
      <i class="fa fa-fw fa-sort-asc" ng-if="myOrderBy=='repositoryDate'"></i>
      <i class="fa fa-fw fa-sort-desc" ng-if="myOrderBy=='-repositoryDate'"></i></th>

      <th ng-click="myOrderBy=((myOrderBy=='lastChangeDate')?'-lastChangeDate':'lastChangeDate')">Changed
      <i class="fa fa-fw fa-sort" ng-if="myOrderBy!='lastChangeDate'&&myOrderBy!='-lastChangeDate'"></i>
      <i class="fa fa-fw fa-sort-asc" ng-if="myOrderBy=='lastChangeDate'"></i>
      <i class="fa fa-fw fa-sort-desc" ng-if="myOrderBy=='-lastChangeDate'"></i></th>

      <th ng-click="myOrderBy=((myOrderBy=='status')?'-status':'status')">Status
      <i class="fa fa-fw fa-sort" ng-if="myOrderBy!='status'&&myOrderBy!='-status'"></i>
      <i class="fa fa-fw fa-sort-asc" ng-if="myOrderBy=='status'"></i>
      <i class="fa fa-fw fa-sort-desc" ng-if="myOrderBy=='-status'"></i></th>

      <th ng-click="myOrderBy=((myOrderBy=='Reviews')?'-Reviews':'Reviews')">Reviews done/assigned
      <i class="fa fa-fw fa-sort" ng-if="myOrderBy!='Reviews'&&myOrderBy!='-Reviews'"></i>
      <i class="fa fa-fw fa-sort-asc" ng-if="myOrderBy=='Reviews'"></i>
      <i class="fa fa-fw fa-sort-desc" ng-if="myOrderBy=='-Reviews'"></i></th>

<!--      <th ng-click="myOrderBy=((myOrderBy=='ar')?'-ar':'ar')">As of now
      <i class="fa fa-fw fa-sort" ng-if="myOrderBy!='ar'&&myOrderBy!='-ar'"></i>
      <i class="fa fa-fw fa-sort-asc" ng-if="myOrderBy=='ar'"></i>
      <i class="fa fa-fw fa-sort-desc" ng-if="myOrderBy=='-ar'"></i></th>

      <th ng-click="myOrderBy=((myOrderBy=='p')?'-p':'p')">Potential
      <i class="fa fa-fw fa-sort" ng-if="myOrderBy!='p'&&myOrderBy!='-p'"></i>
      <i class="fa fa-fw fa-sort-asc" ng-if="myOrderBy=='p'"></i>
      <i class="fa fa-fw fa-sort-desc" ng-if="myOrderBy=='-p'"></i></th>-->
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="x in tasksList | orderBy : myOrderBy" ng-show="(ye=='0'||x.year==ye)&&(co=='0'||x.country==co)&&(ow=='0'||x.ownerName==ow)&&(gr=='0'||x.Group==gr)&&(st=='0'||x.status==st)&&(re=='0'||x.reviewers[re])" ng-click="select(x.textID)">
      <td> {{x.folderName}} </td>
      <td> {{x.year}} </td>
      <td> {{x.country}} </td>
      <td> {{x.ownerName}} </td>
      <td> {{x.repositoryDate}} </td>
      <td> {{x.importDate}} </td>
      <td> {{x.status}} </td>
      <td> {{x.nbReviewsDone}} / {{x.nbReviewsAssigned}} </td>
<!--      <td> {{x.ar}} </td>
      <td> {{x.p}} </td>-->
    </tr>
  </tbody>
</table>
<div ng-if="isAdmin" class="panel panel-info">
  <div class="panel-heading">
    Administration
  </div>
  <div class="panel-body">
    <button class="btn btn-default" ng-click="updateSvn()">Import tasks from SVN</button>
    <button class="btn btn-default" ng-click="commitSvn()">Export to SVN</button>
    <br />
    <div ng-if="svnMessage != ''" class="alert {{svnMsgClass}}">
      <span ng-bind-html="svnMessage"></span>
    </div>
  </div>
</div>
