<div ng-if="isRejected[taskData.ID]" class="alert alert-warning">
    <b>You rejected being assigned this task for review.</b>
</div>
<div ng-if="hasReviews[sel]" class="well">
    <div ng-if="taskData.isAssigned == 1">
        <p>
            <b>You have been assigned this task for review.</b>
            <button ng-show="!askedReject && taskData.isPublished == 0" class="btn btn-xs btn-danger" ng-click="reject('ask')">Reject assignment</button>
        </p>
        <div ng-show="askedReject">
            <p><b>You are going to reject this review assignment, delete your review and mark that you don't want to review this task.</b></p>
            <p>Please select a reason :
            <select ng-model="rejectReason">
                <option value="participated">I would be biased, as I took part in the preparation of this task</option>
                <option value="biased">I would be biased, for a different reason</option>
                <option value="time">I don't have time to review this task</option>
                <option value="other">Other reason</option>
            </select></p>
            <p>
                <button class="btn btn-default" ng-click="reject('cancel')">Cancel</button>
                <button class="btn btn-danger" ng-disabled="!rejectReason" ng-click="reject('confirm', rejectReason)">Confirm reject</button>
            </p>
        </div>
    </div>
    <div ng-if="taskData.isAssigned == 0">
        <i>You have <b>not</b> been assigned this task for review.</i>
    </div>
</div>
<div ng-if="hasReviews[sel]" class="col-md-6">
    <br />
    <label class="pull-left" style="width:200px;"> Review details: </label><br/>
    <textarea class="pull-left"  style="clear:left; width:400px; height:150px;" ng-model="taskData.reviewComment" ng-change="reviewChanged()"></textarea>
<!--    <label class="pull-left" style="width:200px;"> Your rating as of now: </label>
    <div star-rating rating-value="taskData.currentRating" ng-click="reviewChanged()"></div>
    <label class="pull-left" style="width:200px;"> Your rating of the potential: </label>
    <div star-rating rating-value="taskData.potentialRating" ng-click="reviewChanged()"></div>-->
<!--    <label class="pull-left" style="width:200px;"> The <i>It's informatics</i> section: </label>
    <select ng-change="reviewChanged()" ng-model="taskData.itsInformatics">
      <option value="none" default>Not evaluated</option>
      <option value="great">Is great as it is now</option>
      <option value="canImprove">Can be improved</option>
      <option value="missing">Is still missing</option>
    </select>
    <label class="pull-left" style="width:200px;"> The combination of age group and difficulty level: </label>
    <select ng-change="reviewChanged()" ng-model="taskData.ageDifficulty">
      <option value="none" default>Not evaluated</option>
      <option value="easier">The task looks easier than indicated</option>
      <option value="good">The level is good</option>
      <option value="harder">The task looks harder than indicated</option>
      <option value="missing">Is missing</option>
    </select>-->
    <div ng-if="taskData.isPublished == 0" style="clear: both;">
      <i>This review has not yet been published.</i>
    </div>
    <button id="reviewSaveBtn" ng-click="saveReview(taskData)" style="clear: both; margin:10px; float:right;" class="btn btn-primary">Save</button>
    <button id="reviewResetBtn" ng-hide="askedReset" ng-click="askReset()" style="margin:10px; float: right;" class="btn btn-danger">
      <span ng-if="taskData.isAssigned == 1">Reset</span>
      <span ng-if="taskData.isAssigned != 1">Delete</span>
    </button>
    <div class="clearfix"></div>
    <div ng-show="askedReset" class="well">
      <p>This will remove all data from your review.</p>
      <p>
        <button ng-click="cancelReset()" class="btn btn-default">
          Cancel
        </button>
        <button ng-click="resetReview(taskData.reviewId)" class="btn btn-danger">
          Confirm
          <span ng-if="taskData.isAssigned == 1">reset</span>
          <span ng-if="taskData.isAssigned != 1">deletion</span>
        </button>
      </p>
    </div>
</div>
<div ng-if="!hasReviews[sel]">
    You haven't been assigned this task for review.
    <button class="btn btn-info" ng-click="createReview(sel)">Create a review anyway</button>
</div>
