<fieldset style="border-width: 2px; border-style: solid; border-color: threedface; padding:10px;">
    <legend style="width:initial; border:0; margin:0;">Filters</legend>
    <label>Country:</label>
    <select ng-model="co">
      <option value="">All</option>
      <option ng-repeat="x in countrylist" value="{{x}}">{{x}}</option>
    </select>
    <label>First Name: </label>
    <input type="text" ng-model="fname">
    <label>Last Name: </label>
    <input type="text" ng-model="lname">
    <label>Login: </label>
    <input type="text" ng-model="log">
</fieldset>
<br/>
<table class="table table-bordered pagin-table">
    <thead>
        <tr>
            <th ng-click="myOrderBy=((myOrderBy=='firstName')?'-firstName':'firstName')">First Name
            <i class="fa fa-fw fa-sort" ng-if="myOrderBy!='firstName'&&myOrderBy!='-firstName'"></i>
            <i class="fa fa-fw fa-sort-asc" ng-if="myOrderBy=='firstName'"></i>
            <i class="fa fa-fw fa-sort-desc" ng-if="myOrderBy=='-firstName'"></i></th>
            <th ng-click="myOrderBy=((myOrderBy=='lastName')?'-lastName':'lastName')">Last Name
            <i class="fa fa-fw fa-sort" ng-if="myOrderBy!='lastName'&&myOrderBy!='-lastName'"></i>
            <i class="fa fa-fw fa-sort-asc" ng-if="myOrderBy=='lastName'"></i>
            <i class="fa fa-fw fa-sort-desc" ng-if="myOrderBy=='-lastName'"></i></th>
            <th ng-click="myOrderBy=((myOrderBy=='svnLogin')?'-svnLogin':'svnLogin')">SVN Login
            <i class="fa fa-fw fa-sort" ng-if="myOrderBy!='svnLogin'&&myOrderBy!='-svnLogin'"></i>
            <i class="fa fa-fw fa-sort-asc" ng-if="myOrderBy=='svnLogin'"></i>
            <i class="fa fa-fw fa-sort-desc" ng-if="myOrderBy=='-svnLogin'"></i></th>
            <th>Email</th>
            <th>Country</th>
            <th ng-click="myOrderBy=((myOrderBy=='registrationDate')?'-registrationDate':'registrationDate')">Registration date
            <i class="fa fa-fw fa-sort" ng-if="myOrderBy!='registrationDate'&&myOrderBy!='-registrationDate'"></i>
            <i class="fa fa-fw fa-sort-asc" ng-if="myOrderBy=='registrationDate'"></i>
            <i class="fa fa-fw fa-sort-desc" ng-if="myOrderBy=='-registrationDate'"></i></th>
            <th ng-click="myOrderBy=((myOrderBy=='LastLoginDate')?'-LastLoginDate':'LastLoginDate')">Last login
            <i class="fa fa-fw fa-sort" ng-if="myOrderBy!='LastLoginDate'&&myOrderBy!='-LastLoginDate'"></i>
            <i class="fa fa-fw fa-sort-asc" ng-if="myOrderBy=='LastLoginDate'"></i>
            <i class="fa fa-fw fa-sort-desc" ng-if="myOrderBy=='-LastLoginDate'"></i></th>
            <th># of Reviews</th>
            <th>Role</th>
            <th>Group</th>
            <th>Role in Group</th>
            <th> Tasks </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in data | filter : {country:co, firstName:fname, lastName:lname, svnLogin:log} | orderBy : myOrderBy">
            <td> {{x.firstName}} </td>
            <td> {{x.lastName}} </td>
            <td> {{x.svnLogin}} </td>
            <td> {{x.email}} </td>
            <td> {{x.country}} </td>
            <td> {{x.registrationDate}} </td>
            <td> {{x.LastLoginDate}} </td>
            <td> {{x.Reviews}} </td>
            <td ng-if="!isAdmin || x.ID == ownID">{{x.role}}</td>
            <td ng-if="!isAdmin">{{x.Group}}</td>
            <td ng-if="!isAdmin">{{x.groupRole}}</td>
            <td ng-if="isAdmin && x.ID != ownID">
              <select ng-model="x.role" ng-change="ch(x.ID,'role',x.role)">
                <option ng-selected="x.role == 'Unconfirmed'">Unconfirmed</option>
                <option ng-selected="x.role == 'Member'">Member</option>
                <option ng-selected="x.role == 'Admin'">Admin</option>
              </select>
            </td>
            <td ng-if="isAdmin">
              <select ng-model="x.groupID" ng-change="ch(x.ID, 'groupID', x.groupID)">
                <option ng-selected="x.groupID == 0" value="0">No group</option>
                <option ng-repeat="g in groupsList" ng-selected="x.groupID == g.ID" ng-value="g.ID">{{ g.name }}</option>
              </select>
            </td>
            <td ng-if="isAdmin">
              <select ng-model="x.groupRole" ng-change="ch(x.ID,'groupRole',x.groupRole)">
                <option ng-selected="x.groupRole == 'Member'">Member</option>
                <option ng-selected="x.groupRole == 'Admin'">Admin</option>
              </select>
            </td>
            <td> 
            <div class="dropdown">
                <button class="dropbtn" style="z-index: 0;">Tasks{{x.folderName}}</button>
                <div class="dropdown-content" style="z-index: 1;">
                    <p ng-repeat="item in list[x.ID]"  ng-click="listts(item.folderName)">{{item.folderName}}</p>
                </div>
            </div>
            </td>
        </tr>
    </tbody>
</table>
